@use '../../styles/utils/mixins';

.socials {
    display: flex;
    gap: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-start;

    @include mixins.vp-767 {
        justify-content: flex-end;
    }

    &__link {}

    &__icon {
        width: 24px;
        height: 24px;
    }
}