// Colors

$color-white: #ffffff;
$color-black: #000000;

$color-solitude: #e9ebf0;
$color-granny-smith-apple: #9be198;
$color-fern: #6fc76c;
$color-dim-gray: #737373;
$color-vista-blue: #91d6ac;
$color-white-smoke: #f8f8f8;
$color-dark-gray: #a5a5a5;

// Typography

$ff-play: 'Play', 'Arial', sans-serif;

// Viewport

$vp-desktop: 1440px;
$vp-mobile: 767px;

// Transition
$transition: ease-in 0.3s;
